/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-fachbetrieb-fachbetrieb-finden {
  padding-top: 1em;
}

.fachbetrieb-search-form {
  display: block;
  position: sticky;
  padding: 1em;
  background-color: var(--wp--preset--color--base);
}

.fachbetrieb-search-result {
  display: block;
  padding: 1em;
  min-height: 10em;
  align-content: center;
  background-color: var(--wp--preset--color--base);
}

.fachbetrieb-search-results > * {
  margin-bottom: 1em;
}

