#fachbetrieb {
  #fachbetrieb-searchform {
    margin-top: 1em;
    background-color: var(--wp--preset--color--base);
    padding: 0.5em;
  }

  .fachbetrieb-results {
    padding-left: 0;

    li {
      * {
        position: relative;
        z-index: 1;
      }

      margin-bottom: 1em;
      padding: 0.5em;
      background-color: var(--wp--preset--color--base);
      list-style: none;

      .logo {
        position: absolute;
        right: 0;
        max-height: 5em;
        opacity: 0.3;

        z-index: 0;
      }

      .name {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-weight: 900;
        font-size: var(--wp--preset--font-size--large);
      }

      .address {
        margin-bottom: 1.5em;
        font-style: unset;
        font-weight: 500;
        font-size: var(--wp--preset--font-size--small);
      }

      .distance:not(:empty)::after {
        content: " km entfernt";
      }

      .phone, .email {
        display: block;
      }

      .categories {
        padding-left: 0;
        margin-top: 1em;
        margin-bottom: 1em;
        li {
          display: inline;
          background-color: rgba(0, 0, 0, 20%);
          border-radius: 1em;
          padding: 2px 0.5em 2px 0.5em;
          list-style: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #fachbetrieb {
    display: flex;

    #fachbetrieb-searchform { 
      display: flex;
      flex: 4; 
      align-self: flex-start;
    }
    .fachbetrieb-results { 
      display: flex;
      padding-left: 1em;
      flex-direction: column;
      flex: 8; 
    }
  }
}

